* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
body::-webkit-scrollbar {
  width: 0.3vw;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: purple;
}
